:root {/*-- sets color variables --*/
  --dark: #444;
  --ltmid: #DDD;
  --dkmid: #999;
  --light: #F9F9F9;
  --accent: #6495ed;
}
body {
  color: var(--dark); /*-- sets body default font color --*/
  line-height: 1.4; /*-- sets body default line height --*/
  background-color: rgb(56, 29, 3);
}
/*-- default styles for links (in the correct order) --*/
a {color: var(--accent); font-weight: 500; text-decoration: none; transition: all .2s ease-in-out;}
a:visited {color:#305eb3;}
a:hover {color: var(--accent);}
a:active {color: var(--dkmid);}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: rgb(89, 57, 7);
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #cd9d69;
  color: white;
}
main {
  padding: 1rem 2rem; /*-- adds inside space around the main content area --*/
  height: 600px;
/* Slideshow container */
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  align-items: center;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: rgb(164, 127, 75);
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Six columns side by side */
.column {
  float: left;
  width: 25%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
.grid-cont { /*-- styles the main grid container for media cards --*/
  padding: 2rem 0; /*-- top and bottom padding for the grid container --*/
  display: grid; /*-- declares this a grid container --*/
  grid-gap: 2rem; /*-- 2rem top, right, bottom, and left gaps between items --*/
  grid-template-columns: 1fr; /*-- by default, there is 1 column that's 1fr wide --*/
}
@media screen and (min-width: 550px) { /*-- at slightly larger size, there are two equal columns --*/
  .grid-cont {grid-template-columns: repeat(2, 1fr);}
}
@media screen and (min-width: 768px) { /*-- still two equal columns --*/
  .grid-cont {grid-template-columns: repeat(2, 1fr);}
}
@media screen and (min-width: 1280px) { /*-- next size up, there are three equal columns --*/
  .grid-cont {grid-template-columns: repeat(3, 1fr);}
}
@media screen and (min-width: 1440px) { /*-- at the largest sizes, there are four equal columns --*/
  .grid-cont {grid-template-columns: repeat(4, 1fr);}
}
.card { /*-- selects .card elements --*/
  padding: 2%; /*-- a little bit of flexible space inside the card --*/
  display: flex; /*-- card is a flex container --*/
  flex-direction: column; /*-- flow is downward --*/
  border-radius: 8px; /*-- curved edges --*/
  border: 2px dashed var(--dkmid); /*-- dashed border --*/
  background-color: var(--light); /*-- a little bit of light color --*/
}
.card img { /*-- selects image children of .card --*/
  width: 100%; /*-- full width of container --*/
  height: auto; /*-- maintain aspect ratio --*/
  max-height: 320px; /*-- can't be too tall --*/
  border-radius: 8px 8px 0 0; /*-- curved corners, but just on the top --*/
}
.card button { /*-- selects button children of .card elements --*/
  width: 30%; /*-- 1/3rd width of parent (the .card) --*/
  min-width: 6rem; /*-- can't be too narrow --*/
  margin: 2rem auto; /*-- centered it --*/
  padding: 1rem 2rem; /*-- makes space inside the button --*/
  cursor: pointer; /*-- changes the mouse cursor from arrow to pointer --*/
}

footer { /*-- just some footer styles, nothing weird --*/
  margin-top: 2rem; /*-- adds space above --*/
  background-color: var(--ltmid); /*-- light mid color --*/
  padding: 1rem 2rem; /*-- inside space to match the nav --*/
  display: flex; /*-- might as well --*/
  height: 6rem; /*-- fixed height  --*/
  justify-content: space-between; /*-- horizontal center --*/
  align-items: center; /*-- vertical center --*/
  background-color: #cd9d69;
  position: relative; top: 600px;
}
footer p { /*-- targets the footer text --*/
  width: 100%; /*-- p elements are full width of the container --*/
  text-align: center; /*-- centers the text --*/
  font-weight: 500; /*-- mid-weight font --*/
}